*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.head{
  font-weight: bolder;
  width: 60%;
}
.dateBox{
width: 30%;
}

.allEvents{
width: 10%;
background-color: white;
border: 0px;
}
.allEvents:hover{
 background-color: #282c34; 
}
.allEvents>img{
  width: 100%;
}
.day{
  border: 1px black solid;
  display: flex;
  justify-content:space-between ;
  width: 100%;
}
.day1{
  width: 20%;
}
.day1>h4{
 color: skyblue; 
}

.date{
  color:skyblue;
  width: 80%;
}
.nav{
  display: flex;
  width: 100%;
  border: 1px black solid;
}
.vis{
  display: block;
  position: absolute;
}
.not{
  display: none;
}
.expImg{
width: 100%; 
border-radius: 0%; 
}
.change{
width: 8%;
background-color: white;
border: 0px;
}

.change:hover{
  background-color: gray;
}
.see{
  display: block;
  position: absolute;
  background-color:white;
}
.in{
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
