*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.head{
  font-weight: bolder;
  width: 60%;
}
.dateBox{
width: 30%;
}

.allEvents{
width: 18%;
height:50px ;
background-color: white;
border: 0px;
border-radius: 50%;
}
.allEvents:hover{
 background-color: rgb(216, 213, 213); 
}
.allEvents>img{
  width: 70%;
  height: 30px;
}
.day{
  border: 1px black solid;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  width: 100%;
}
.day1{
  width: 20%;
}
.day1>h4{
 color: skyblue; 
}

.date{
  color:skyblue;
  width: 80%;
}
.nav{
  display: flex;
  width: 100%;
  border: 1px black solid;
  background-color: white;
}
.vis{
  display: block;
  position: absolute;
}
.not{
  display: none;
}
.expImg{
width: 100%; 
border-radius: 0%; 
}
.change{
width: 8%;
background-color: white;
border: 0px;
}

.change:hover{
  background-color: rgb(216, 213, 213);
}
.see{
  display: block;
  position: absolute;
  background-color:rgb(216, 213, 213);
  width: 100%;
}
.see>p{
  background-color: green;
  color: white;
  border-radius: 5%;
  padding: 4px;
  width: 80%;
}
.in{
  display: none;
}

.App {
  text-align: center;
}

